#bg_vid {
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	transform: translateX(-50%) translateY(-50%);
	top:50%;
	left:50%; 
}
#sym {
  color:red;
}
div.transbox {
  top:50%;
  margin-top: -10%;
  margin-left: 25%;
  margin-right: 25%;
  /*border: 1px solid rgba(0,0,0,0.3)*/;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  width: 50%;
  height:15%;
}
div.transbox a:hover {
  color:white;
  background-color: rgba(151,184,163,0.5);
  font-size: 30px;
}
div.transbox h1 {
	text-align: center;
	font-size: 70px;
	font-family: 'Megrim', cursive;
	color: rgb(151,184,163);
  margin-top: 0px;
  margin-bottom: 0px;
}
div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: white;
  text-align: center;
 }
 div.transbox ul {
 	
  list-style: none;
  text-align: center;
  font-family: 'Roboto'
 }
 div.transbox li {
  display: inline;
  font-size: 28px;
 }
 div.transbox a {
 	text-decoration: none;
 	color: rgba(0,0,0,0.6);
 }